body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    background-image: linear-gradient(to right top, #2b69dc, #007ee5, #0092e9, #00a3e8, #00b3e6, #19bee7, #32c9e7, #49d3e7, #4eddea, #55e6ed, #5ef0ef, #69f9f0);
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header,
h1 {
    margin: 0;
    padding: 1.5%;
    background-color: rgb(59, 178, 214);
    color: rgb(255, 255, 255);
}

* {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 50%;
    padding: 1%;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

a:link,
a:visited {
    background-color: #36b8f4;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover,
a:active {
    background-color: rgb(23, 99, 161);
}

footer {
    margin-top: auto;
    text-align: center;
    padding: 3px;
    background-color: rgb(122, 189, 233);
    color: rgb(255, 255, 255);
}